{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-4">

<div class="text-center">
    <h1 class="mb-3">MediCare HMS</h1>
    <p>6756757687886</p>

    <img src="{% static 'images/hospital.jpg' %}" 
         class="img-fluid mb-4" 
         style="max-height:400px; object-fit:cover;" 
         alt="Hospital">

    <!-- BUTTONS -->
    <div class="mt-3">
        <a href="{% url 'doctors:alldoctors' %}" class="btn btn-info me-2">
            Find Doctors
        </a>

        <a href="{% url 'doctors:alltreatments' %}" class="btn btn-success">
            Treatments
        </a>

        <a href="{% url 'doctors:alltreatments' %}" class="btn btn-warning">
            Book Appointment
        </a>
    </div>
</div>

</div>
{% endblock %}
